<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Form
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/public/css/app.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
    nav(class="large-padding black")
        ul
            li
                a(href="/app", class="white-text") Inicio
            li
                a(href="/app/imagenes", class="white-text") Mis imagenes
    block contenido